.main__contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* height: 100%; */
    margin: 8vh 0;
}

.main__contacto section {
    background-color: #7A82AB;
    border-radius: 10px 0px 10px 0px;
}

.main__contacto label {
    color: #00000066;
    margin: auto 2vw;
}
.main__contacto input {
  border: none;
  width: 100%;
  height: 4vh;
  border-radius: 7px;
  text-align: center;
  background-color: #C6D4FF;;
}
.main__contacto textarea {
    border: none;
    width: 100%;
    height: 17vh;
    border-radius: 7px;
    text-align: center;
    background-color: #C6D4FF;
    text-align: center;
}

.main__contacto button {
    border: none;
    padding: 2vw;
    background-color: #2DC2BD;
    border-radius: 7px;
    width: 100%;
}

.main__contacto section {
    width: 81vw;
    padding: 7vw;
    /* height: 72vh; */
}
.main__contacto h2{
    text-align: center;
}
.main__contacto p {
    text-align: center;
    margin: 5vw 0;
}
.form__contacto {margin: 1vw auto;}
.article__img-contacto img {
    display: none;
}
@media (min-width: 768px) {
    .article__img-contacto img {
        display: block;
        width: 20vw;
    }
    .main__contacto section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 91vw;
        padding: 3vw;
    }
    .main__contacto {
        margin: 6vh 0;
    }


}

@media (min-width: 1024px) {
    .article__img-contacto img {
        width: 29vw;
    }
    .main__contacto section {
        width: 88vw;
        padding: 1vw;
        height: 81vh;
    }
    .main__contacto {
        margin: 5vh 0;
    }
  

}

@media (min-width: 1250px) {
    .article__img-contacto img {
        width: 26vw;
    }
    .main__contacto section {
        width: 91vw;
        padding: 3vw;
    }
   
    .article__form {
        width: 38vw;
    }
    .main__contacto button {
        padding: 1vw;
    }

}
